<div class="buttons">
  <a routerLink="/cliente/1/solicitacoes">
    <arrow-right-icon width="20px" color="#fff" />
  </a>
  <button backgroundColor="#dc363c" hoverColor="none" app-button>Rejeitar</button>
  <button backgroundColor="#10855b" hoverColor="none" app-button>Aprovar</button>
</div>
<section class="budget-container">
  <p>Serviço avaliado por <b>Ítalo Alves</b> e orçado em:</p>
  <p class="price">R$ 200,00</p>
</section>
<section>
  <ul class="request-description">
    <li>
      <b>Data da solicitação:</b>
      <p>27/09/1999 às 08:30</p>
    </li>
    <li>
      <b>Categoria do equipamento:</b>
      <p>Notebook</p>
    </li>
    <li>
      <b>Descrição do equipamento:</b>
      <p>
        27/09/1999 às 08:30 cwcwcecwe cwecewcecwe cwecewwcwec wcwecweewc wecwecweewc wecw ecewcwecwec wecwecweewcwec
        wecwecwcw
      </p>
    </li>
    <li>
      <b>Descrição do defeito:</b>
      <p>
        27/09/1999 às 08:30 cwcwcecwe cwecewcecwe cwecewwcwec wcwecweewc wecwecweewc wecw ecewcwecwec wecwecweewcwec
        wecwecwcw
      </p>
    </li>
  </ul>
</section>
