<div class="buttons">
  <a routerLink="/cliente/{{ userId }}/solicitacoes">
    <arrow-right-icon width="20px" color="#fff" />
  </a>
  @if (requestData.currentStatus === 'Orçada') {
    <button backgroundColor="#dc363c" hoverColor="none" app-button>Rejeitar</button>
    <button backgroundColor="#10855b" hoverColor="none" app-button>Aprovar</button>
  } @else if (requestData.currentStatus === 'Arrumada') {
    <app-modal [(isHidden)]="isPaymentConfirmationModalOpen">
      <h2>Confirmação de pagamento</h2>
      <p class="modal">
        Confirmar pagamento de <span class="price-highlight">R${{ requestData.price }}</span
        >?
      </p>
      <div class="buttons buttons--modal">
        <button backgroundColor="#dc363c" hoverColor="none" app-button (click)="closeModal()">Cancelar</button>
        <button backgroundColor="#10855b" hoverColor="none" app-button (click)="confirmPayment()">Continuar</button>
      </div>
    </app-modal>
    <button backgroundColor="#10855b" hoverColor="none" app-button (click)="openModal()">Pagar serviço</button>
  }
</div>
<section class="budget-container">
  <p>
    Serviço avaliado por <b> {{ requestData.employee }}</b> e orçado em:
  </p>
  <p class="price">R$ {{ requestData.price }}</p>
</section>
<section>
  <ul class="request-description">
    <li>
      <b>Data da solicitação:</b>
      <p>{{ requestData.date }} às {{ requestData.hour }}</p>
    </li>
    <li>
      <b>Categoria do equipamento:</b>
      <p>{{ requestData.deviceCategory }}</p>
    </li>
    <li>
      <b>Descrição do equipamento:</b>
      <p>
        {{ requestData.deviceDescription }}
      </p>
    </li>
    <li>
      <b>Descrição do defeito:</b>
      <p>
        {{ requestData.issueDescription }}
      </p>
    </li>
  </ul>
</section>
