<div class="general-container">
  <label [for]="id()">
    {{ label() }}
  </label>
  <div class="error-container">
    <div class="select-container">
      <select
        [id]="id()"
        [class.error]="validation()?.error"
        (change)="onChange($event)"
      >
        <option disabled selected>{{ placeholder() }}</option>
        @for (option of options(); track option.value) {
          <option [value]="option.value">
            {{ option.label }}
          </option>
        }
      </select>
      <p class="errorMessage">{{ validation()?.message }}</p>
    </div>
  </div>
</div>