<div class="general-container">
  <label [for]="id()">
    {{ label() }}
  </label>
  <div class="error-container">
    <div class="select-container">
      <div
        class="select"
        (click)="toggleSelect()"
        [id]="id()"
        [class.error]="validation()?.error"
        [class.open]="isOpen()"
        [class.disabled]="disabled()"
      >
        <span>{{ textValue() || placeholder() }}</span>
        <ul [class.open]="isOpen()">
          @for (option of options(); track option.label) {
            <li (click)="onOptionChosen(option)" [value]="option.id">
              {{ option.label || option.name }}
            </li>
          }
        </ul>
      </div>
      <p class="errorMessage">{{ validation()?.message }}</p>
    </div>
  </div>
</div>
