@import 'variables';
@import 'colors';
@import 'typology';

:host {
  margin-top: 50px;
  align-self: center;
  max-height: 100%;
}

div {
  align-self: center;
  width: 100%;
  overflow: auto;
  max-height: 50%;
  max-width: 1400px;
  border: 1px solid $neutral-30;
  border-radius: 20px;
  padding: 30px;
  background-color: $neutral-base;
}

table {
  text-align: center;
  color: $neutral-70;
  font-size: $size-base;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}
tr {
  transition: 0.5s;
  border-bottom: 1px solid $neutral-30;
  &:hover {
    background-color: $neutral-10;
    transition: 0.5s;
  }
}
th {
  padding: 10px;
  border-right: 1px solid $neutral-30;
}

.noRequestsYet {
  text-align: center;
  font-weight: $weight-bold;
}
