@if (userRequests.length > 0) {
  <table>
    <tr>
      <th>Visualizar</th>
      <th>Data/Hora</th>
      <th>Cliente</th>
      <th>Descrição do produto</th>
      <th>Descrição do defeito</th>
      <th>Estado</th>
      <th>Ação</th>
    </tr>
    @for (request of userRequests; track request.id) {
      <tr
        app-employee-table-row
        [userId]="request.userId"
        [id]="request.id"
        [date]="request.date"
        [issueDescription]="request.issueDescription"
        [deviceDescription]="request.deviceDescription"
        [status]="request.currentStatus"
      ></tr>
    }
  </table>
} @else {
  <p class="noRequestsYet">Nenhuma solicitação realizada ainda!</p>
}
