<a routerLink="/funcionario/solicitacoes">
  <arrow-right-icon width="20px" color="#fff" />
</a>

<section>
  <ul class="request-description">
    <li>
      <b>Data da solicitação:</b>
      <p>{{ requestData().date }} às {{ requestData().hour }}</p>
    </li>
    <li>
      <b>Categoria do equipamento:</b>
      <p>{{ requestData().categoryName }}</p>
    </li>
    <li>
      <b>Descrição do equipamento:</b>
      <p>
        {{ requestData().deviceDescription }}
      </p>
    </li>
    <li>
      <b>Descrição do defeito:</b>
      <p>
        {{ requestData().issueDescription }}
      </p>
    </li>
    <li>
      <b>Estado atual:</b>
      <p>
        {{ requestData().status }}
      </p>
    </li>
  </ul>
</section>
@if (dataHistory().length > 0) {
  <section class="request-history">
    <h1>Histórico da solicitação:</h1>
    <table>
      <tr>
        <th>Data/Hora</th>
        <th>Funcionário responsável</th>
        <th>Ação</th>
      </tr>
      @for (request of dataHistory(); track $index) {
        <tr>
          <td>{{ request.date }}</td>
          <td>{{ request.employeeName }}</td>
          <td>{{ request.status }}</td>
        </tr>
      }
    </table>
  </section>
}
