  <app-modal [(isHidden)]="isRedirectModalOpen">
    <p class="modal">Selecione o funcionário para redirecionar a manutenção:</p>
    <select id="employeeSelect" [(ngModel)]="selectedEmployeeId">
      @for (employee of registeredEmployees; track employee) {
        <option [value]="employee.id">
          {{ employee.name }}
        </option>
      }
    </select>
    <div class="buttons">
      <button backgroundColor="#dc363c" hoverColor="" app-button (click)="closeRedirectModal()">Cancelar</button>
      <button backgroundColor="#10855b" hoverColor="none" app-button (click)="confirmRedirect()">Redirecionar</button>
    </div>
  </app-modal>
  