@if (router.url.includes('cliente')) {
  <a routerLink="/cliente/{{ userId }}/solicitacoes">
    <arrow-right-icon width="20px" color="#fff" />
  </a>
}
@if (router.url.includes('funcionario')) {
  <a routerLink="/funcionario/{{ userId }}/solicitacoes">
    <arrow-right-icon width="20px" color="#fff" />
  </a>
}
<section>
  <ul class="request-description">
    <li>
      <b>Data da solicitação:</b>
      <p>{{ requestData().date }} às {{ requestData().hour }}</p>
    </li>
    <li>
      <b>Categoria do equipamento:</b>
      <p>{{ requestData().deviceCategory }}</p>
    </li>
    <li>
      <b>Descrição do equipamento:</b>
      <p>
        {{ requestData().deviceDescription }}
      </p>
    </li>
    <li>
      <b>Descrição do defeito:</b>
      <p>
        {{ requestData().issueDescription }}
      </p>
    </li>
    <li>
      <b>Estado atual:</b>
      <p>
        {{ requestData().currentStatus }}
      </p>
    </li>
  </ul>
</section>
@if (requestData().history.length > 0) {
  <section class="request-history">
    <h1>Histórico da solicitação:</h1>
    <table>
      <tr>
        <th>Data/Hora</th>
        <th>Funcionário responsável</th>
        <th>Ação</th>
      </tr>
      @for (request of requestData().history; track $index) {
        <tr>
          <td>{{ request.date }} {{ request.hour }}</td>
          <td>{{ request.employee }}</td>
          <td>{{ request.toStatus }}</td>
        </tr>
      }
    </table>
  </section>
}
