<app-card>
  <h1>Bem-vindo de volta!</h1>
  <form (ngSubmit)="onSubmit()">
    @if (isError) {
        <p class="errorLog">{{ errorLog }}</p>
    }
    <app-input
      [value]="formValues().email.value"
      placeholder="Digite seu e-mail *"
      (valueChange)="onInputChange('email', $event)"
      [isError]="formValues().email.error"
    >
      <user-icon input-icon width="14px" color="#9197B3" />
    </app-input>

    <app-input
      [value]="formValues().password.value"
      type="password"
      placeholder="Digite sua senha *"
      (valueChange)="onInputChange('password', $event)"
      [isError]="formValues().password.error"
    >
      <lock-icon input-icon width="14px" color="#9197B3" />
    </app-input>

    <a href="#">Esqueci minha senha</a>
    <button>Entrar</button>
  </form>
</app-card>
