<app-card>
  <h1>Bem-vindo de volta!</h1>
  <form (ngSubmit)="onSubmit()">
    @if (isError) {
      <p class="errorLog">{{ errorLog }}</p>
    }
    <app-input
      placeholder="Digite seu e-mail *"
      [(value)]="formValues().email.value"
      [type]="formValues().email.type"
      [isError]="formValues().email.error"
    >
      <user-icon input-icon width="14px" color="#9197B3" />
    </app-input>

    <app-input
      placeholder="Digite sua senha *"
      [(value)]="formValues().password.value"
      [type]="formValues().password.type"
      [isError]="formValues().password.error"
    >
      <lock-icon input-icon width="14px" color="#9197B3" />
    </app-input>

    <a href="#">Esqueci minha senha</a>
    <button>Entrar</button>
  </form>
</app-card>
