@import 'variables';
@import 'colors';
@import 'typology';

:host {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

app-table {
  width: 100%;
  max-width: 300px;
}

.noRequestsYet {
  text-align: center;
  font-weight: $weight-bold;
}

.modal {
  padding: 10px;
  padding-bottom: 30px;
  font-size: large;
}

p.modal {
  padding-top: 25px;
  text-align: left;
}

.price-highlight {
  color: $feedback-info-50;
  font-weight: bold;
}

.modal-title {
  padding: 8px 20px;
  margin-bottom: 20px;
  text-align: center;
}

app-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-footer {
    width: 100%;
    margin-top: 20px;
  }

  .modal-footer button {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }

  .price-highlight {
    color: $feedback-info-50;
    font-weight: bold;
  }
}

.large-textarea {
  width: 500px;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  width: 100%;
}

.button--modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.modalsButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;

  a {
    width: 20px;
    margin-right: auto;
    transform: translateY(8px);
    background: $brand-purple;
    padding: 6px 8px 1px 8px;
    box-sizing: content-box;
    border-radius: 100%;
    transition: 1s;
  }
}

.noCategoriesYet {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 8px;

  button {
    cursor: pointer;
    background-color: $feedback-positive-50;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 24px;
  }
}

.cancelButton {
  background-color: $feedback-negative-50;
  color: #fff;
  padding: 8px 16px;
  flex: 1;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  font-size: medium;
}

.confirmButton {
  background-color: $feedback-positive-50;
  color: #fff;
  padding: 8px 16px;
  flex: 1;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  font-size: medium;
}
