@import 'variables';
@import 'colors';
@import 'typology';

.table {
  align-self: center;
  width: 100%;
  overflow: auto;
  max-height: 80%;
  max-width: 1400px;
  width: 1400px;
  border: 1px solid $neutral-30;
  border-radius: 20px;
  padding: 30px;
  background-color: $neutral-base;
  margin-top: 100px;
}

table {
  text-align: center;
  color: $neutral-70;
  font-size: $size-base;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  max-width: 1400px;
}

tr {
  transition: 0.5s;
  border-bottom: 1px solid $neutral-30;
  &:hover {
    background-color: $neutral-10;
    transition: 0.5s;
  }
}

th {
  padding: 10px;
  border-right: 1px solid $neutral-30;
}

.noRequestsYet {
  text-align: center;
  font-weight: $weight-bold;
}

.modal {
  padding: 10px;
  padding-bottom: 30px;
  font-size: large;
}

p.modal {
  padding-top: 25px;
  text-align: left;
}


.price-highlight {
  color: $feedback-info-50;
  font-weight: bold;
}

app-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal-footer {
    width: 100%;
    margin-top: 20px;
  }

  .modal-footer button {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }

  .price-highlight {
    color: $feedback-info-50;
    font-weight: bold;
  }
}

.large-textarea {
  width: 500px;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
  resize: none; 
  width: 100%;
}

.button--modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.modalsButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;

  a {
    width: 20px;
    margin-right: auto;
    transform: translateY(8px);
    background: $brand-purple;
    padding: 6px 8px 1px 8px;
    box-sizing: content-box;
    border-radius: 100%;
    transition: 1s;
  
  }
}