<div class="buttons">
  <a routerLink="/funcionario/{{ userId }}/pedir-receita">
    <arrow-right-icon width="20px" color="#fff"></arrow-right-icon>
  </a>
</div>
<div id="printable-area">
  <h2>Receita por {{ revenuesByCategory.length > 0 ? 'Categoria' : 'Data' }}</h2>

  @if (!this.isCategory && revenuesByDate.length > 0) {
    <app-table>
      <tr table-titles>
        <th>Data</th>
        <th>Valor</th>
      </tr>
      @for (revenue of revenuesByDate; track $index) {
        <tr table-data>
          <td>
            {{ revenue.date }}
          </td>
          <td>
            {{ currencyMaskService.apply(revenue.price + '') }}
          </td>
        </tr>
      }
    </app-table>
  } @else if (revenuesByCategory.length > 0) {
    <app-table>
      <tr table-titles>
        <th>Categoria</th>
        <th>Valor</th>
      </tr>
      @for (revenue of revenuesByCategory; track $index) {
        <tr table-data>
          <td>
            {{ revenue.deviceCategory }}
          </td>
          <td>
            {{ currencyMaskService.apply(revenue.price + '') }}
          </td>
        </tr>
      }
    </app-table>
  } @else {
    <p class="noRequestsYet">Nenhum pagamento realizado!</p>
  }
</div>

<div class="button-container">
  @if (revenuesByCategory.length > 0 || revenuesByDate.length > 0) {
    <button (click)="generatePdf()">Exportar como pdf</button>
  }
</div>
