@import 'colors';
@import 'typology';

div {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

input {
  font-size: $size-small;
  padding: 8px 16px;
  border-radius: 24px;
  background-color: $neutral-10;
  border: 1px solid $neutral-30;
  outline: none;
  width: 100%;
}
  
.negative{
    border: 1px solid $feedback-negative-50;
   }


allow-visibility-icon,
block-visibility-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}
