@import 'variables';
@import 'colors';
@import 'typology';

td {
  padding: 20px;
  border-right: 1px solid $neutral-30;
}

tr {
  transition: 0.5s;
  border-bottom: 1px solid $neutral-30;

  &:hover {
    background-color: $neutral-30;
    transition: 0.5s;
  }
}

.aberta {
  background-color: gray;
  color: white; 
  padding: 5px;
  border-radius: 5px;
}

.orcada {
  background-color: rgb(123, 75, 30);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.rejeitada {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.aprovada {
  background-color: yellow;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.redirecionada {
  background-color: purple;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.aguardando {
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.paga {
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.finalizada {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#buttonsConfirmationModal {
  display: flex;
  gap: 10px;
  justify-content: center;
}
