@import 'variables';
@import 'colors';
@import 'typology';

.table-container {
  overflow-y: auto;
  max-height: 90%;
  width: 100%;
  -webkit-box-shadow: 0px 3px 15px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 15px -10px rgba(0, 0, 0, 0.75);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  font-size: 14px;
  color: $neutral-70;

  thead {
    background-color: $brand-purple;

    th {
      padding: 12px 15px;
      text-align: left;
      color: #fff;
      font-weight: 400;

      &:last-child {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $neutral-15;

        &:hover {
          background-color: $neutral-20;
        }
      }

      &:nth-child(odd) {
        &:hover {
          background-color: $neutral-15;
        }
      }

      &:hover {
        background-color: #f1f3f7;
      }
    }
  }
}

td {
  padding: 12px 15px;
  text-align: left;

  &.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #4b4b4b;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4b4b4b transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
}
