$brand-purple: #4e42ff;
$brand-purple-hover: #3e35cc;
$brand-pink: #ff57a7;
$brand-pink-hover: #cc4686;
$brand-yellow: #fcdf2c;

$neutral-base: #fff;
$neutral-base-hover: #f6f5ff;
$neutral-90: #161b33;
$neutral-70: #4d4d54;
$neutral-50: #9197b3;
$neutral-30: #d0d0df;
$neutral-25: rgb(216, 216, 218);
$neutral-20: #ebebeb;
$neutral-15: #f3f3f3;
$neutral-10: #f6f5ff;
$neutral-5: #fbfbfb;

$feedback-positive-90: #002415;
$feedback-positive-60: #0e6e4b;
$feedback-positive-50: #10855b;
$feedback-positive-10: #def7ed;

$feedback-negative-90: #4a1512;
$feedback-negative-50: #dc363c;
$feedback-negative-10: #f6e6e5;

$feedback-warning-90: #8b4c00;
$feedback-warning-50: #fd9519;
$feedback-warning-10: #ffe7ca;

$feedback-info-90: #043258;
$feedback-info-50: #1586ee;
$feedback-info-10: #e8f4ff;
