@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$size-2x-large: 24px;
$size-x-large: 20px;
$size-large: 18px;
$size-base: 16px;
$size-small: 14px;
$size-x-small: 12px;
$size-2x-small: 8px;

$weight-lighter: 100;
$weight-light: 200;
$weight-base: 400;
$weight-bold: 600;
$weight-bolder: 800;
