<div class="buttons">
  <a routerLink="/funcionario/solicitacoes">
    <arrow-right-icon width="20px" color="#fff"></arrow-right-icon>
  </a>
  <button class="budget-button" app-button (click)="handleBudgetInput()">Efetuar orçamento</button>
</div>

<app-modal [(isHidden)]="isBudgetConfirmationModalOpen">
  <p class="modal">Confirmar orçamento de {{ currencyMaskService.apply(budgetData().value) }}?</p>
  <div>
    <button class="cancelButton" (click)="closeModal()">Cancelar</button>
    <button class="confirmButton" (click)="confirmBudget()">Confirmar</button>
  </div>
</app-modal>

<section class="budget-container">
  <p>
    Serviço avaliado por <b> {{ requestData().lastEmployee }}</b> e orçado em:
  </p>
  <p class="price">{{ currencyMaskService.apply(budgetData().value) }}</p>
</section>

<section class="request-description">
  <ul>
    <li>
      <b>Data da solicitação:</b>
      <p>{{ requestData().date }} às {{ requestData().hour }}</p>
    </li>
    <br />
    <li>
      <b>Categoria do equipamento:</b>
      <p>{{ requestData().categoryName }}</p>
    </li>
    <br />
    <li>
      <b>Descrição do defeito:</b>
      <p>{{ requestData().issueDescription }}</p>
    </li>
    <br />
    <li>
      <b>Descrição do equipamento:</b>
      <p>{{ requestData().deviceDescription }}</p>
    </li>
  </ul>
</section>

<section class="budget-input">
  <label for="budgetValue">Valor do orçamento</label>
  <app-input
    [id]="'budgetValue'"
    [placeholder]="'Digite o valor'"
    [(value)]="budgetData().value"
    [validation]="budgetData().validation"
    [mask]="budgetData().mask"
  ></app-input>
</section>
