@import 'colors';
@import 'typology';

:host {
  border-radius: 24px;
  border: none;
}

div {
  width: 100%;
  padding: 12px 18px;
  border-radius: 24px;
  border: none;
  color: $neutral-base;
  font-size: $size-base;
  cursor: pointer;
  transition: 1s;
}
