<div class="general-container">
  @if (label()) {
    <label [for]="id()">
      {{ label() }}
    </label>
  }
  <div class="error-container">
    <div class="textarea-container">
      <ng-content select="[input-icon]"></ng-content>
      <textarea
        [id]="id()"
        [class.error]="validation()?.error"
        [value]="value()"
        (input)="onInput($event)"
        [placeholder]="placeholder()"
      ></textarea>
    </div>
    <p class="errorMessage">{{ validation()?.message }}</p>
  </div>
</div>
