@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import 'colors';

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $neutral-base;
}

header {
  padding: 14px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $neutral-30;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 50px;
      height: 50px;
    }

    span {
      font-size: 28px;
      font-weight: 500;
      color: $brand-pink;
      font-family: 'Permanent Marker', cursive;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      text-decoration: none;
      color: $neutral-90;
      border: 1px solid $brand-purple;
      border-radius: 24px;
      padding: 12px 24px;

      &:hover {
        background-color: $neutral-base-hover;
      }
    }

    p {
      color: $brand-purple;
    }

    exit-icon {
      display: block;
      margin-left: 32px;
      cursor: pointer;
    }
  }
}
