<header>
  <div class="logo-container">
    <img src="assets/img/logo.png" alt="logo" />
    <span>Techelp</span>
  </div>
  <nav>
    <a routerLink="funcionario/{{ userId }}/solicitacoes" routerLinkActive="active">Solicitações</a>
    <a routerLink="funcionario/{{ userId }}/categorias" routerLinkActive="active">Categorias</a>
    <a routerLink="funcionario/{{ userId }}/funcionarios" routerLinkActive="active">Funcionários</a>
    <a routerLink="funcionario/{{ userId }}/pedir-receita" routerLinkActive="active">Receita</a>
    <p>
      Olá, <b>{{ userName.split(' ')[0] }}</b>
    </p>
    <exit-icon width="24px" color="#ff57a7" (click)="onLogout()" />
  </nav>
</header>
