@import 'variables';
@import 'colors';
@import 'typology';

button {
    flex: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    color: $neutral-base;
    background-color: $brand-purple;
    font-size: $size-base;
    cursor: pointer;
    border: 1px solid $brand-purple;
    border-radius: 20px;
    transition: 1s;
    &:hover {
      background-color: $brand-purple-hover;
      border-color: $brand-purple-hover;
      transition: 1s;
    }
  }
td {
    padding: 10px;
    border-right: 1px solid $neutral-30;
    
}
tr {
    transition: 0.5s;
    border-bottom: 1px solid $neutral-30;
    &:hover {
        background-color: $neutral-30;
        transition: 0.5s;
    }
  }