<div>
  <label for="startDate">Início:</label>
  <input
    id="startDate"
    type="date"
    #startDate
    [max]="startDateMax()"
    (change)="
      onDateChange({
        startDate: startDate.value,
      })
    "
  />

  <label for="endDate">Fim:</label>
  <input
    id="endDate"
    type="date"
    #endDate
    [value]="date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()"
    [max]="date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()"
    (change)="
      onDateChange({
        endDate: endDate.value,
      })
    "
  />
</div>
