<div #content id="content">
    <h2>Receita por {{categoryRevenue ? "Categoria" : "Data"}}</h2>
    <p>Desde {{begginingDate}} até {{endingDate}}</p>
@if(revenues.length > 0) {
    <table>
        <tr>
            <th>{{categoryRevenue ? "Categoria" : "Data"}}</th>
            <th>Valor</th>
        </tr>
        
        @for (revenue of revenues; track $index){
            <tr revenue-table-row [label]="categoryRevenue? revenue.deviceCategory : revenue.date" [value]="revenue.price"></tr>
        }

    </table>
} @else {
    <p class="noRequestsYet">Nenhum pagamento realizado!</p>
  }
</div>

<div class="button-container">
    @if(revenues.length > 0){
    <button app-button (click)="generatePdf()">Gerar pdf</button>
    }
</div>