@import 'typology';
@import 'variables';
@import 'colors';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

app-table {
  width: 100%;
}

button {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
}

p {
  color: $feedback-warning-50;
}

.noRequestsYet {
  text-align: center;
  font-weight: $weight-bold;
}

allow-visibility-icon {
  cursor: pointer;
}

.checkBudgetButton {
  border: 1px solid $feedback-positive-50;
  color: $feedback-positive-50;
}

.payServiceButton {
  border: 1px solid $feedback-info-50;
  color: $feedback-info-50;
}

.redeemRequestButton {
  border: 1px solid $feedback-negative-90;
  color: $feedback-negative-90;
}

.aberta {
  color: gray;
}

.orcada {
  color: rgb(123, 75, 30);
}

.rejeitada {
  color: red;
}

.aprovada {
  color: rgb(197, 197, 10);
}

.redirecionada {
  color: purple;
}

.aguardando {
  color: blue;
}

.paga {
  color: orange;
}

.finalizada {
  color: green;
}
