@if (requests.length > 0) {
  <table>
    <thead>
      <tr>
        <th>Data/Hora</th>
        <th>Descrição</th>
        <th>Estado atual</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (request of requests; track request.id) {
        <tr
          app-client-table-row
          [userId]="request.userId"
          [requestId]="request.id"
          [date]="request.date"
          [description]="request.deviceDescription"
          [status]="request.currentStatus"
        ></tr>
      }
    </tbody>
  </table>
} @else {
  <p class="noRequestsYet">Nenhuma solicitação realizada ainda!</p>
}
