@import 'variables';
@import 'colors';

:host {
  border-radius: 8px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid $neutral-30;
  background-color: $neutral-base;
  width: 100%;
  max-width: 580px;

  @media (min-width: $tablet-width) {
    min-width: 360px;
  }
}
