<div class="buttons">
  <a routerLink="/cliente/{{ userId }}/solicitacoes">
    <arrow-right-icon width="20px" color="#fff" />
  </a>
  <button backgroundColor="#10855b" hoverColor="none" app-button>Aprovar</button>
</div>
<section class="request-container">
  <p>
    Serviço efetuado por <b> {{ requestData.employee }}</b>
  </p>
</section>
<section>
  <ul class="request-description">
    <li>
      <b>Data da solicitação:</b>
      <p>{{ requestData.date }} às {{ requestData.hour }}</p>
    </li>
    <li>
      <b>Categoria do equipamento:</b>
      <p>{{ requestData.deviceCategory }}</p>
    </li>
    <li>
      <b>Descrição do equipamento:</b>
      <p>
        {{ requestData.deviceDescription }}
      </p>
    </li>
    <li>
      <b>Descrição do defeito:</b>
      <p>
        {{ requestData.issueDescription }}
      </p>
    </li>
  </ul>
</section>
<section class="request-history">
  <h1>Histórico da solicitação:</h1>
  <table>
    <tr>
      <th>oioiooi</th>
      <th>oioiooi</th>
      <th>oioiooi</th>
    </tr>
    <tr>
      <td>oioioioio</td>
      <td>oioioioio</td>
      <td>oioioioio</td>
    </tr>
  </table>
</section>
