@import 'colors';
@import 'typology';

:host {
  display: block;
  margin: 0 auto;
  max-width: 1048px;
}

a {
  width: 20px;
  margin-right: auto;
  transform: translateY(8px);
  background: $brand-purple;
  padding: 6px 8px 1px 8px;
  box-sizing: content-box;
  border-radius: 100%;
  transition: 1s;

  &:hover {
    background: $brand-purple-hover;
  }
}

a {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

section {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $neutral-30;
  background-color: $neutral-base;
  width: 100%;
  margin-top: 20px;
}

.request-container {
  flex-direction: column;
  justify-content: center;
  min-width: 580px;

  b {
    color: $brand-purple;
    font-weight: $weight-bold;
  }
}

.request-description {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  gap: 24px;

  li {
    display: flex;
    align-items: center;
    gap: 8px;

    b {
      min-width: 240px;
    }
  }
}

.request-history {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-weight: 600;
    color: $brand-purple;
    font-size: 20px;
    align-self: flex-start;
  }
}

table {
  text-align: center;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;

  tr {
    transition: 0.5s;
    border-bottom: 1px solid $neutral-30;

    td {
      padding: 20px;
      border-right: 1px solid $neutral-30;
    }

    th {
      padding: 10px;
    }

    &:hover {
      background-color: $neutral-10;
      transition: 0.5s;
    }
  }
}
