<td><button app-button>Abrir</button></td>
<td>{{ date() }}</td>
<td>{{ description() }}</td>
<td>{{ status() }}</td>
<td>
  @switch (status().toUpperCase()) {
    @case ('APROVADA') {
      <button app-button>Efetuar manutenção</button>
    }
    @case ('ORÇADA') {
      <link-as-button href="/cliente/{{ userId() }}/orcamento/{{ id() }}"> Aprovar/Rejeitar</link-as-button>
    }
    @case ('REJEITADA') {
      <link-as-button href="/cliente/{{ userId() }}/resgate/{{ id() }}">Resgatar serviço</link-as-button>
    }
    @case ('ARRUMADA') {
      <button app-button>Pagar</button>
    }
    @default {
      <button app-button>Visualizar</button>
    }
  }
</td>
