<div class="buttons">
  <a routerLink="/cliente/{{ userId }}/solicitacoes">
    <arrow-right-icon width="20px" color="#fff"></arrow-right-icon>
  </a>
  <button class="rescue-button" app-button (click)="openModal()">Resgatar solicitação</button>
</div>

<app-modal [(isHidden)]="isRescueConfirmationModalOpen">
  <p class="modal">Confirmar resgate da solicitação?</p>
  <div class="buttons">
    <button backgroundColor="#dc363c" hoverColor="none" app-button (click)="closeModal()">Cancelar</button>
    <button backgroundColor="#10855b" hoverColor="none" app-button (click)="confirmRescue()">Resgatar</button>
  </div>
</app-modal>

<section class="budget-container">
  <p>
    Serviço avaliado por <b> {{ requestData.employee }}</b> e orçado em:
  </p>
  <p class="price">R$ {{ requestData.price }}</p>
</section>

<section class="request-description">
  <ul>
    <li><b>Data da solicitação:</b> <p>{{ requestData.date }} às {{ requestData.hour }}</p></li>
    <br>
    <li><b>Categoria do equipamento:</b> <p>{{ requestData.deviceCategory }}</p></li>
    <br>
    <li><b>Descrição do defeito:</b> <p>{{ requestData.issueDescription }}</p></li>
  </ul>
</section>
